<nav class="flex justify-between p-1 border-b border-gray-500">
  <a class="flex justify-center items-center" routerLink="/">
    <img src="" alt="">
    <h2>Moments</h2>
  </a>

  <ul class="flex justify-center items-center">
    <li class="mr-1"><a class="p-1 hover:bg-red-600 transition-colors" routerLink="/">*Home</a></li>
    <li class="mr-1"><a class="p-1 hover:bg-red-600 transition-colors" routerLink="/moments/new">*New Moment</a></li>
    <li class="mr-1"><a class="p-1 hover:bg-red-600 transition-colors" routerLink="/about">*About</a></li>
  </ul>
</nav>
